# secrets
.env
.env.local
*.pem

# runtime data
wizarr-data/
tautulli-config/
stripe-bridge-data/

# node
node_modules/

# nx
.nx/cache
.nx/workspace-data

# python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.db

# editor / OS
.DS_Store
.idea/
.vscode/
*.swp

# Local Netlify folder
.netlify

# supabase cli
apps/admin-portal/supabase/.temp/

# supabase cli (root)
supabase/.temp/
